html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.holiday-parent {
    width: 190rem;
    height: 45rem;
}

.holiday-gallery {
    position: relative;
    margin: 2rem;
}

.holiday {
    height: 20rem;
    position: absolute;
    transition: all 0.3s;
    outline-offset: 1;
}

.rose {
    top: 3rem;
    left: 22%;
}
.lavendar {
    top: 22rem;
    left: 15%;
}
.daisy {
    top: 6rem;
    left: 10%;
}

.holiday:hover {
    transform: scale(1.3);
    outline: 1rem solid blue;
    z-index: 2;
}

.holiday-gallery:hover .holiday:not(:hover) {
    transform: scale(.8);
    opacity: .5;
}

.button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}